#dmypage #information{

    width: 800px;

    margin: 0 auto;
    display: flex;
    align-items: center;

    border-bottom: 2px solid;

    margin-top: 50px;
    

}

#information p{
    font-weight: 800;

    font-size: 20px;
}

#indivinfo{
    width: 800px;
    margin: 0 auto;
    align-items: center;

    font-size: 18px;
    
}
