#loginpage{
    width: 1200px;
    height: 600px;
    background-color: red;
    position: relative;
    margin: 0 auto;
}

#LoginImg{
    height: 600px;
    float: left;
}

#login{
    float: left;
}